html {
  background:#779;
}

h1 {
  margin:0;
  padding:0;
}



#controls {
  position:fixed;
  float:right;
  margin:30px;
  padding:15px;
}

#images{
  float:right;
}

.download {
  height:100%;
}

.image {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.logo{
  position:absolute;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  top:90%;
  width:15%;
  height:15%;
  background:white;
-webkit-mask-size:contain;
-webkit-mask-repeat: no-repeat;
-webkit-mask-image: url(/DL-logo-solid-white.png);
    -o-mask-image: url(/DL-logo-solid-white.png);
    -moz-mask-image: url(/DL-logo-solid-white.png);
    mask-image: url(/DL-logo-solid-white.png);
}

.content{
  float:right;
  position:relative;
  background-color:black;
  clear:both;
  width:400px;
  height:400px;
}

.text-container{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.text-background {
}

.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin:auto;
  width: 100%;
  color: white;
}

.shadowText {
      text-shadow:
    -1px -1px 0 rgba(0,0,0,.3),
    1px -1px 0 rgba(0,0,0,.3),
    -1px 1px 0 rgba(0,0,0,.3),
    1px 1px 0 rgba(0,0,0,.3);
}

#content2 .text {
  top:33%;
}

#content2 .image{
  height:56%;
}

#content2 .logo{
}

#content2 .text-container{
    height:46%;
  top:55%;
  background-color:black;
}
